.container{
    position: fixed;
    top: 60px;
    right: -250px;
    z-index: 99;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: black;
    padding: 20px 14px;
    border-radius: 10px;
    /* border-left: 6px solid green; */
    opacity: 0;
    scale: 0.5;
    transition: all 0.6s;
}

.visible{
    right: 60px;
    opacity: 1;
    scale: 1;
}